@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c2c2c;
  color: #fff;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button,
input,
textarea {
  background: none;
  outline: none;
  border: none;
}

*::-webkit-scrollbar {
  height: 3px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #fff;
}

.hover-effect-to-right {
  background: #323232;
  background: linear-gradient(
      to left,
      #323232 50%,
      rgba(255, 255, 255, 0.05) 50%
    )
    right;
  background-size: 210%;
  transition: 0.3s ease-out;
}

.hover-effect-to-right:hover {
  background-position: left;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-btn {
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  &:hover {
    border: 2px solid transparent !important;
  }
}

.ct-toast {
  background: rgb(44 44 44) !important;
  color: #fff !important;
}

button:disabled {
  transition: all 0.3s;
  cursor: not-allowed;
  opacity: 0.5;
}

.react-tel-input .form-control {
  width: 100% !important;
  background: none !important;
  border: none !important;
}

.react-tel-input .flag-dropdown {
  background: none !important;
  border: none !important;
}

.react-tel-input .country-list {
  width: 200px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 0 0 8px 8px !important;
  backdrop-filter: blur(18.5px) !important;
}

.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
}

.react-tel-input .country-list .country-name {
  display: none !important;
}

.react-tel-input .country-list .country.highlight,
.react-tel-input .country-list .country:hover {
  background: rgba(255, 255, 255, 0.8) !important;
}

.copy-btn {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.18);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}
